{% extends "layout.html" %}
    {% block content %}
        <h1> HealthTrack: Centré autour du patient ET du praticien </h1>
<p> Au coeur de HealthTrack, la volonté de servir à la fois les
    professionels de la santé et de la recherche mais également rendre
    les informations accessibles au patients désireux d'en savoir plus.
</p>

<h2> Notre expertise: </h2>
<p>
   Basé sur plus de deux années de recherche et plus de 40 sportives testées, nous avons
    pu dévelloper divers algorithmes permettant:
    - d'analyser les caractéristiques de force en proposant des rapports adaptés
    - de prédire si la sportive peut être exposée à un risque accru de blessure du LCA
    - de proposer des solutions de renforcement adaptées
</p>

    <h2> La rupture du ligament croisé antérieur </h2>
<p> Une vraie thématique sociétale, qui touche non seulement les athlètes de haut niveau,
    mais plus gravement, les jeunes filles entre 12 et 16 ans.
    Les conséquences de cette blessure, psycho sociétales à court terme, puis
    physiques avec de l'arthrose au genou touché dans le long terme en font une véritable
    problématique de santé. En 2008, 100 000 jeunes filles se sont blessées durant une
    activité physique aux USA.
</p>

    <h2> Comment la blessure se produit-elle ?</h2>
<p>Des études réalisées à rétrospect sur des vidéos d'évenements de blessures suggèrent
    que la rupture se produit dans les 50 ms suivant l'impact et qu'à ce moment là le genou
    est en position de valgus, soit orienté vers la ligne médiane du corps.


</p>

<img src="/static/kogaetal.jpg.png">
<h2> Pourquoi la blessure se produit-elle ?</h2>
<p>
On a longtemps pensé que l'occurence de la blessure était favorisée par le manque de controle neuromusculaire
    présent chez les jeunes filles qui dans leur ensemble n'arrivent pas
    à adapter leurs stratégies neuromusculaires assez rapidement pour suivre la croissance de leur
    corps.
</p>
<p>
La déficience créée entrainerait des problématiques neuromécaniques ou le cerveau "sur"
    active le quadriceps, créant plus de force et favorisant la mise en tension et donc le
    stress mécanique sur le ligament croisé, tel que démontré dans des études in-vivo.
</p>

<p>
Dans ces conditions, si l'athlète est présentée avec une situation risquée, comme un match avec
    de forts enjeux ou une situation de fatigue, la probabilité que la blessure se produise augmente.
</p>

    {% endblock content %}