{% extends "layout.html"%}
{% block content %}
   <h1> L'équipe </h1>
<h2> Abdel aka: Cortex</h2>
<img src="/static/abdel.jpg">
<p> Habitué des projets à forte valeur ajoutée il agit en tant que PO sur HealthTrack.</p>
<p> Il apporte une vision plus globale et plus orientée produit de l'application.</p>
<p> Il motive l'équipe et a été décisif dans l'initiation de ce projet. </p>

<h2> Jérome aka: LeDoc</h2>
<img src="/static/Jer.jpg">
<p> Avec un background dans la science du mouvement il est le créateur du projet HealthTrack.</p>
<p> Il dévelope les fonctionalités métiers et les aspects data science.</p>

{% endblock content %}